@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    color: white;
    /* Helpful baseline for text against black background */
    font-family: 'Exo 2', sans-serif;
    /* Fallback for the rest of the app */
    overflow: hidden;
}